<form>
    <label>Incident type</label>
    <mat-form-field class="w-full">
          <mat-label>Select item</mat-label>
          <mtx-select
          (change)="onTypeChange($event)"
          [formControl]="typeControl"
          >
          @for(incidentType of this.incidentTypes; track incidentType.id){
            <mtx-option [value]="incidentType">
              {{incidentType.name}}
            </mtx-option>
          }
          </mtx-select>
        </mat-form-field>

        <label>Incident subtype</label>
        <mat-form-field class="w-full">
          <mat-label>Select item</mat-label>
          <mtx-select id="subtype_select"
          [formControl]="subtypeControl">
            @for(incidentSubtype of this.filteredIncidentSubtypes; track incidentSubtype.id){
                <mtx-option [value]="incidentSubtype">
                  {{incidentSubtype.name}}
                </mtx-option>
            }
          </mtx-select>
        </mat-form-field>

        <div class="container">
            <div class="date">
            <label>Choose date to filter</label>
            <br>
        <mat-form-field class="date" style=" width: 60%; max-width: 50%; height: 12vh;">
            <label>Date and Time</label>
            <mtx-datetimepicker-toggle [for]="datetimePickerManual" matSuffix />
            <mtx-datetimepicker #datetimePickerManual startView="month" [timeInterval]="5"
              [timeInput]="true" />
            <input [mtxDatetimepicker]="datetimePickerManual" [max]="today"
              autocomplete="false" [formControl]="datetimeControl" matInput required
              style="background-color: inherit; border: none; margin-left: 2rem; font-family: inherit;">
            @if (group.get('dateTimeManual')?.errors?.required) {
              <mat-error>required</mat-error>
            }
            @if (group.get('dateTimeManual')?.errors?.mtxDatetimepickerMin) {
              <mat-error>min</mat-error>
            }
            @if (group.get('dateTimeManual')?.errors?.mtxDatetimepickerMax) {
              <mat-error>max</mat-error>
            }
             </mat-form-field>
            </div>
             <div class="distance">
            <label>Choose distance in km</label>
            <br>
             <mat-slider class="distance" min="1" max="500" step="10" showTickMarks discrete [displayWith]="formatLabel">
                <input matSliderThumb [formControl]="distanceControl">
              </mat-slider>
            </div>
            </div>
            <div class="buttons">
            <button mat-button (click)="onCancel()">Cancel</button>    
            <button class="filter-button" mat-flat-button (click)="onFilter()">Filter</button>
            </div>
    
</form>