


<div class="row">
  
  <div style="width: 100%; margin:0rem 0.5rem">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Report card</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="userForm" (ngSubmit)="submit2()">
        <label>Incident type</label>
        <mat-form-field class="w-full">
          <mat-label>Select item</mat-label>
          <mtx-select
          [addTag]="false"
          (change)="onTypeChange($event)"
          formControlName="incidentControl"
          >
          @for(incidentType of this.incidentTypes; track incidentType.id){
            <mtx-option [value]="incidentType">
              {{incidentType.name}}
            </mtx-option>
          }
          </mtx-select>
        </mat-form-field>
        

        <label>Incident subtype</label>
        <mat-form-field class="w-full">
          <mat-label>Select item</mat-label>
          <mtx-select [addTag]="false" id="subtype_select"
          formControlName="subtypeControl"
          (change)="onSubtypeChange($event)">
            @for(incidentSubtype of this.filteredIncidentSubtypes; track incidentSubtype.id){
                <mtx-option [value]="incidentSubtype">
                  {{incidentSubtype.name}}
                </mtx-option>
            }
          </mtx-select>
        </mat-form-field>


        <label style="width: 100%;">Incident description</label>
        <br/>
      <mat-form-field class="example-full-width">
      <textarea formControlName="descriptionControl"
      #textareaRef
       style="width: 100%; font-family: inherit; background-color: inherit; border: none; font-size: medium; color: white;" 
        placeholder="Describe the incident"
        
        (input)="textChanged($event)"
        ></textarea>
      <mtx-select style="display: none"></mtx-select>
      </mat-form-field>



      <!--  <label style="width: 100%;">Incident description</label>
        <br/>
        <mat-form-field class="example-full-width">
         
          <textarea style="width: 100%; font-family: inherit; background-color: inherit; border: none; font-size: medium; color: white;"
           Input placeholder="Describe the incident"
           [textContent]=""
           >
          </textarea>
          <mtx-select style="display: none" />
        </mat-form-field>
      -->
        <br/>
            
          <mat-form-field style=" width: 100%; max-width: 30%;">
          <label>Date and Time</label>
          <mtx-select style="display: none;" />
          <mtx-datetimepicker-toggle [for]="datetimePickerManual" matSuffix />
          <mtx-datetimepicker #datetimePickerManual startView="month" [timeInterval]="5"
            [timeInput]="true" />
          <input [mtxDatetimepicker]="datetimePickerManual" [max]="today" formControlName="dateTimeControl"
            autocomplete="false" formControlName="dateTimeManual" matInput required
            style="background-color: inherit; border: none; margin-left: 2rem; font-family: inherit;"
            (dateChange)="dateTimeInput($event)">
          @if (group.get('dateTimeManual')?.errors?.required) {
            <mat-error>required</mat-error>
          }
          @if (group.get('dateTimeManual')?.errors?.mtxDatetimepickerMin) {
            <mat-error>min</mat-error>
          }
          @if (group.get('dateTimeManual')?.errors?.mtxDatetimepickerMax) {
            <mat-error>max</mat-error>
          }
           </mat-form-field>
            
        
           <div style="display: flex; align-items: center; justify-content: left; align-content: center;">
        
            <!-- Button with label 
            <div style="display: flex; align-items: center; margin-left: 3px;">
              <button mat-fab color="primary">
                <mat-icon>image</mat-icon>
              </button>
              <span style="margin-left: 8px;">Upload picture of the incident</span>
            </div>
          -->
          <div style="flex-direction: column;">
          <div style="display: flex; align-items: center; margin-left: 3px;">
            <button mat-fab color="primary" (click)="fileInput.click()">
              <mat-icon>image</mat-icon>
            </button>
            <span style="margin-left: 8px;">Upload picture of the incident</span>
            
            <!-- Input for image upload, hidden -->
            <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
          </div>
           
          <!-- Displaying the uploaded image -->
           @if(imageUrl)
           {
            <br/>
            <img [src]="imageUrl" alt="Incident Image" class="image-incident" style="margin-top: 10px; width: 300px; height: auto;">
           }
          </div>
          
          

          
          </div>
        </form>
        
          

      
        <div class="d-flex justify-content-center m-t-8">
          <button mat-button class="m-x-8" type="button">Cancel</button>
          <button [disabled]="isSubmitDisabled" mat-flat-button (click)="submitclick()">Submit</button>
        </div>
        
        
  
    
      </mat-card-content>

    
    
    
    </mat-card>
  </div>

  
</div>
